* , *::before , *::after,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.custom_hover_image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
  position: relative;
}
.image_wrapper {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.8s;
}
.image_wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.8s all ease-in-out;
}
.image_wrapper:hover::before {
  transition: 0.8s all ease-in-out;
  display: none;
}
.image_wrapper:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  cursor: pointer;
}
/* Modal */
.general_content_wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  content: '';
}
.general_content_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: '. . general_content';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background-size: cover;
  background-position: center;
}
.general_content {
  grid-area: general_content;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9998;
  border : 3px solid red; 
  position : relative; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction:  column; 
}

/* Clsoe button */
.close_button_wrapper {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  transition: 0.3s;
}
.clsoeIcon {
  position: relative;
  width: 100%;
  height: 40px;
}
.clsoeIcon::before {
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 35px;
  content: '';
  border-right: 2px solid white;
  transform: skewX(45deg);
}
.close_button_wrapper:hover {
  opacity: 0.7;
}

.clsoeIcon::after {
  transition: 0.3s;

  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 35px;
  content: '';
  border-left: solid 2px white;
  transform: skewX(-45deg);
}

/* general_content_main  */
.general_content_main {
  width : 100%; 
  flex-grow: 1;
}
.general_content_main  p {
font-size: 1.2em; 
color : white;
width : 100%; 
text-align: center;
}



/* RESPONSIVE */ 
@import url('./responsive.css');