*,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* 
.custom_hover_image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
  position: relative;
}
.image_wrapper {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.3s;
}
.image_wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s all ease-in-out;
}
.image_wrapper:hover::before {
  transition: 1s all ease-in-out;
  display: none;
}
.image_wrapper:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
} */
